.sign-in {
    width: 100vw;
    height: 100vh;
    background-image: url("../../images/sigin_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    &-logo {
        display: inline-block;
        width: 70px;
        height: auto;
        margin-right: 16px;
    }

    &-text {
        color: #ffffff;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 150%;
    }
}

.card {
    width: 100%;
    padding: 50px;
    background: #ffffff;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05),
        0px 6px 30px rgba(0, 0, 0, 0.04), 0px 8px 10px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    &-header {
        color: rgba(24, 24, 25, 0.9);
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 120%;
    }
}