URL=http://testnet-lcd.orai.io
DENOM=orai
REACT_APP_LCD=https://testnet-lcd.orai.io
NODE_PATH=src
REACT_APP_ORAI_SCAN=https://testnet.scan.orai.io
REACT_APP_NETWORK=Oraichain-testnet
REACT_APP_ORAI_SCAN_WALLET=https://api.wallet.orai.io