.mnemonic-modal {
    :global(.modal-content) {
        background-color: #20354e;
        color: #fff;
    }
    .modal-body {
        padding: 20px 30px;
    }
}

.warning {
    color: red;
    margin-top: 10px;
    margin-bottom: 20px;
    background: #fdf0f0;
    padding: 25px;
    display: flex;
    align-items: center;
    span {
        margin-left: 10px;
    }
}

.pin-title {
    margin-bottom: 15px;
}

.pin {
    width: 350px;
    margin: 0px auto;
    .pin-custom {
        padding-top: 10px;
        :global(.header), :global(.pin-body-title), :global(.pin-body-desc), :global(.pin-body-warning) {
            display: none;
        }
    }
}