.main-layout {
    &-main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.content {
    flex-grow: 1;
    background: #142437;
    min-height: calc(100vh - 60px);
}