.select-gas {
	display: flex;
	width: 100%;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	padding-top: 30px;

	.gas-span {
		margin-right: 20px;
	}

	.input-number {
		background: #1E344D;
		border: #2B5072;
		width: 32%;
		// @include media("<medium") {
		// 	width: 60%;
		// }
	}

	.input-range {
		margin-left: 20px;
	}
}

