.form-title {
    padding-bottom: 16px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.5px;
}