.pin-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/sigin_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .pin-display {
    position: fixed;
    width: 763px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
  }
  
  .keypad {
    background: white;
    margin-bottom: 60px;
    
    &-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 100ms ease-out;
    }

    &-button:active {
      background: #EAEAEA;
    }

    .reset {
      &-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 100ms ease-out;
        background-color: #F3574F;
        color: white;
      }
  
      &-button:active {
        background: #EAEAEA;
      }
    }
  }

  .numpad {
    .keypad {
      &-row {
        margin-bottom: 23px;
      }

      &-button {
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        width: 47px;
        height: 47px;
        margin: 0 61.5px;
      }
    }

    .reset-button {
      width: 40px;
      height: 40px;
      border-radius: 10px;
      margin: 0 65px;
    }
  }

  .charpad {
    .keypad {
      &-row {
        margin-bottom: 16px;
      }

      &-button {
        font-family: SF Pro Text;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        width: 63px;
        height: 62px;
        border: 1px solid #C1C1C1;
        box-sizing: border-box;
        border-radius: 9px;
        margin: 0 3.5px;
      }
    }

    .reset-button {
      width: 63px;
      height: 62px;
      border-radius: 9px;
      margin: 0 3.5px;
    }
  }
  
  .confirmation-dots {
    margin: 55px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    svg {
      width: 139px;
      height: 24px;
      max-height: 24px;
    }

    .pin-circle {
      transition: all 100ms ease-out;
      fill: white;
      stroke-width: 2px;
      stroke: black;
      outline-offset: -2px;
      outline-width: 2px;

      &.entered {
        fill: black;
      }

      &.success {
        fill: green;
        stroke: green;
      }

      &.error {
        animation-name: shake;
        animation-duration: 200ms;
        fill: red;
        stroke: red;
      }
    }
  }

  .close {
    position: absolute;
    color: black;
    top: 2px;
    right: 2px;
  }

  .pin {
    &-title1 {
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 120%;
      letter-spacing: -0.5px;
      color: #181818;
    }

    &-title2 {
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #181818;
    }

    &-title3 {
      margin-top: 8px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #F3574F;
    }
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}