.or-divider {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;

    &-line {
        width: 100%;
        height: 1px;
        background-color: #D7D7D7;
    }

    &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
        padding: 8px 16px;
        background: #FFFFFF;
    }
}