.send-tokens {
    :global(.row) {
        &:nth-child(1) {
            margin-bottom: 24px;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            margin-bottom: 46px;
        }
    }
}

.error-text {
    bottom: -30px;
}