.send-token {
    background: #1E344D;
    border-radius: 6px;
    color: #fff;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    
    .row-custom {
        padding-top: 20px;
    }
    
    .last-row-custom {
        padding-bottom: 30px;
    }
    
    .form-control-custom {
        color: #F6F7FB;
        background: #213B58;
        border: 1px solid #2B5072;
        box-sizing: border-box;
        border-radius: 8px;
    }
}


