.account-input,
.password-input {
  display: none;
}

.file {
  border: 0;
  &:focus {
    outline: none;
  }
}

.set-request {
  background: #1e344d;
  border-radius: 6px;
  color: #fff;

  .row-custom {
    padding-top: 20px;
  }

  .last-row-custom {
    padding-bottom: 30px;
  }

  .form-control-custom {
    color: #f6f7fb;
    background: #213b58;
    border: 0;
    width: 100%;
  }
}
