.nav-bar {
    :global(.navbar) {
        background-color: #1B57F0;
    }

    :global(.navbar-light .navbar-toggler) {
        border: none;
    }

    :global(.navbar-light .navbar-toggler:focus) {
        box-shadow: none;
    }

    :global(.navbar-light .navbar-nav .nav-link) {
        color: white;

        &:hover {
            color: white;
        }
    }

    :global(.dropdown-toggle::after) {
        display: none;
    }
}

.logo {
    display: inline-block;
    width: 32px;
    height: auto;
}

.navbar-toggler-icon {
    display: inline-block;
    color: white;
}

.user-icon {
    display: inline-block;
    margin-right: 8px;
}

.arrow-icon {
    display: inline-block;
    width: 12px;
    height: auto;
}