.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgba(rgb(99, 99, 99), 0.9);
    color: white;
    z-index: 999;

    &-text {
        margin-top: 30px;
    }
}