.logout-button {
    padding: 8px 32px;
    margin-top: 32px;
    border: 1px solid #192B40;
    box-sizing: border-box;
    border-radius: 10px;
    color: #FFFFFF;
    background: #192B40;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    user-select: none;
}